.contacts {
  display: none;
  width: 270px;
  height: 40px;
}

.contacts__item {
  text-decoration: none;
  font-size: $font-size-up;
  font-weight: 700;
  line-height: 1.66em;
  color: $main-dark-color;
}

.contacts__item--phone {
  display: block;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: $second-dark-color;
  border-radius: 50%;
}

.contacts__item--mail {
  display: block;
  width: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: $second-light-color;
  border-radius: 50%;
}

.contacts__item--singin {
  box-sizing: border-box;
  width: 189px;
  padding: 7px 0 0 36px;
  text-transform: uppercase;
  background-color: $second-lightest-color;
  border-radius: 25px;
}

@media (min-width: $tablet-width) {
  .contacts__item--toggle {
    display: none;
  }

  .contacts__item {
    font-size: $font-size-h3;
  }

  .contacts {
    width: auto;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__item--toggle {
    display: block;
  }

  .contacts__item--phone {
    width: 50px;
    height: 50px;
  }

  .contacts__item--mail {
    width: 50px;
    height: 50px;
  }

  .contacts__item--singin {
    height: 50px;
  }
}
