.instruction {
  width: 270px;
  margin: 0 auto;
  padding: 0;
  font-size: $font-size-xl;
  line-height: 1em;
  font-weight: 700;
  color: $main-dark-color;
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    font-size: $font-size-xl + 6;
  }
}

.instruction__item {
  position: relative;
  padding-left: 25px;
  padding-top: 23px;
  padding-bottom: 40px;
  margin-top: -20px;
  list-style: none;
  border-radius: 10px;

  &::after {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    right: 23px;
    top: 23px;
    color: $white;
  }

  &:nth-child(4n+1) {
    background-color: $second-dark-color;
  }

  &:nth-child(4n+2) {
    background-color: $second-color;
  }

  &:nth-child(4n+3) {
    background-color: $second-light-color;
  }

  &:nth-child(4n+4) {
    background-color: $second-lightest-color;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    padding-bottom: 24px;
  }
}

@media (min-width: $tablet-width) {
  .instruction {
    display: flex;
    flex-wrap: wrap;
    width: 688px;
  }

  .instruction__item {
    height: 140px;
    margin: 0;
    padding: 31px 0 0 31px;
    border-radius: 0;

    &::after {
      left: 30px;
      top: 89px;
    }

    &:first-child {
      border-top-left-radius: 20px;
    }

    &:nth-child(2) {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &:nth-child(odd) {
      width: 369px;
    }

    &:nth-child(even) {
      width: 344px;
      margin-left: -25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    width: 1320px;
  }

  .instruction__item {
    width: 25%;
  }
}
