.main-nav {
  display: flex;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size-h2-up;
  line-height: 1.2em;
  color: $main-color;
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    margin-right: 36px;
    font-size: $font-size-h3;
    line-height: 1.5em;
    color: $white;
  }
}
