.review {
  display: block;
  width: 155px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 31px;
}

.review__quote {
  margin: 0;
  margin-bottom: 16px;
}

.review__author {
  font-weight: 700;
  font-style: normal;
}
