.review {
  display: block;
  width: 155px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 31px;
}

.review__quote {
  margin: 0;
  margin-bottom: 16px;
}

.review__author {
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .review {
    margin-top: 87px;
    margin-left: 34px;
  }

  .review__quote {
    margin-bottom: 46px;
    line-height: 1.1785;
  }

  .review__author {
    display: inline-block;
    font-size: $font-size + 5;
    line-height: 1.19;
  }
}
