.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: $second-light-color;
  border-radius: 50%;
}

.social__link--facebook {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 21px;
}

.social__link--vkontakte {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 12px;
}

.social__link--instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.social--header .social__link {
  background-color: $white;
}
