.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tag__item a {
  display: block;
  line-height: 1.125em;
  color: $third-dark-color;
  text-decoration: none;
}
