// цвета
$main-color: #192144;
$main-dark-color:#161c35;
$main-light-color: #1d2e5b;

$second-color: #ffa530;
$second-dark-color:#ff8d30;
$second-light-color:#ffbd30;
$second-lightest-color:#ffd74b;

$third-light-color: #edeff6;
$third-dark-color: #444444;
$third-color: rgba(68, 68, 68, 0.3);
$white: #ffffff;

// шрифты
$fon-size: 16px;
$fon-size-up:18px;
$fon-size-down: 14px;
$fon-size-h1: 36px;
$fon-size-h2: 24px;
$fon-size-h3: 21px;
$line-height: 1.375em;
